* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Microsoft Yahei Light", "Microsoft Yahei", PingFangSC-Regular, Helvetica, sans-serif, "等线";
  /* font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif; */
}

body {
  width: 100%;
}

#greetingBox {
  z-index: 100;
  position: relative;
  top: -100px;
  opacity: 0;
  display: flex;
  justify-content:center;
  margin-top: 50px;
  text-align: center;
  transition: all 0.5s;
}

#greeting {
  padding: 15px 50px;
  border-radius: 30px;
  background-color: #fff;
  color: #000;
  font-size: small;
  box-shadow: rgba(0,0,0,0.05) 0 10px 20px;
}

.pinnedNotesBox {
  z-index: 100;
  position: fixed;
  top: 30px;
  left: 50px;
}
.pinnedNotesBox .pinnedNotes {
  padding: 10px 20px;

  color: #000;
  font-size: small;
  font-family: "Microsoft Yahei",sans-serif;
  display: block;
  width: 250px;
  margin-bottom: 10px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: rgba(0,0,0,0.05) 0 10px 20px;
  cursor: pointer;
}
.pinnedNotesBox .pinnedNotes .content {
  color: #000;
  font-size: small;
  font-family: "Microsoft Yahei",sans-serif;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.pinnedNotesBox .pinnedNotes .time {
  color: rgba(0, 0, 0, 0.35);
  font-size: 10px;
  font-family: "Microsoft Yahei",sans-serif;
}

.menu {
  z-index: 100;
  position: fixed;
  top: 30px;
  right: 35px;
  animation: fadeIn .3s ease;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.menu .icon {
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  transition: transform 0.3s;
  background: transparent;
  margin-right: 18px;
}
.menu .icon path {
  fill: rgba(255,255,255,0.5);
}
.menu .note:hover {
  transform: scale(0.93);
}
.menu .setting:hover {
  transform: rotate(60deg);
}
.menu .icon:hover path {
  fill: rgba(255,255,255,0.8);
}

.bg {
  z-index: -3;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 1s, transform .25s, filter .25s;
  backface-visibility: hidden;
}

.cover {
  z-index: 1;
  opacity: 1;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%), radial-gradient(rgba(0,0,0,0) 33%, rgba(0,0,0,0.2) 166%);
  transition: all 0.25s;
}

main {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.timeBox {
  z-index: 100;
  margin-top: 60px;
  margin-bottom: 15px;
  width: 100px;
  text-align: center;
  transition: all 0.25s;
}

.timeBox:hover { 
  transform: scale(1.2);
}

.timeBox .time {
  color: white;
  font-size: 36px;
  font-weight: inherit;
  text-shadow: 0 0 20px rgba(0,0,0,0.35);
  cursor: pointer;
  transition: all 0.25s;
  line-height: 20px;
  animation-name: delayedFadeIn;
  animation-duration: .8s;
  animation-iteration-count: 1;
  animation-delay: 0s;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
}

@keyframes delayedFadeIn {
	0% {opacity: 0;}
	50% {opacity: 0;}
	100% {opacity: 1;}
}

.input {
  z-index: 100;
  width: 230px;
  outline: none;
  border: none;
  padding: 13px 15px;
  border-radius: 30px;
  color: rgba(255,255,255,0.8);
  font-size: small;
  font-weight: normal;
  font-family: "Microsoft Yahei",sans-serif;
  text-align: center;
  background-color: rgba(255,255,255,.25);
  box-shadow: rgba(0,0,0,0.2) 0 0 10px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  transition: color 0.25s, background-color 0.25s, box-shadow 0.25s, left 0.25s, opacity 0.25s, top 0.25s, width 0.25s;
}
.input:hover {
  color: var(--txt-b-pure);
  background-color: rgba(255,255,255,.6);
  box-shadow: rgba(0,0,0,0.3) 0 0 10px;
  width: 500px;
}

.input::placeholder {
	color: rgba(255,255,255,1);
	text-shadow: 0 0 10px rgba(0,0,0,0.3);
	transition: all 0.25s;
}
.input:hover::placeholder {
	color: rgba(100,100,100,1);
	text-shadow: 0 0 10px rgba(0,0,0,0);
}

.input:focus {
  color: black;
  background-color: rgba(255,255,255,0.9);
  box-shadow: rgba(0,0,0,0.2) 0 0 10px;
  width: 500px;
}
.input:focus::placeholder {
	color: transparent;
	text-shadow: none;
}

.suggestionContainer {
  margin-top: 20px;
  box-shadow: rgba(0,0,0,0.2) 0 0 10px;
  width: 500px;
  height: auto;
  z-index: 100;
  background-color: rgba(255,255,255,0.9);
  overflow-y: hidden;
  border-radius: 15px;
  transition: all 0.25s;
}
.suggestionContainer div {
  font-size: 15px;
  height: 30px;
  padding-right: 10px;
  text-indent: 20px;
  line-height: 30px;
  cursor: pointer;
  transition: all 0.25s;
}
.suggestionContainer div:hover {
  background:rgba(242,242,242,0.9);
  text-indent: 30px;
  font-family: "Microsoft Yahei", Helvetica, sans-serif, "等线";
}

.popUp {
  opacity: 0;
  position: absolute;
  z-index: 200;
  width: 600px;
  height: 0;
  top: calc(50% - 250px);
  left: calc(50% - 300px);
  background-color: rgba(254, 254, 254, 1);
  box-shadow: 0 6px 20px 5px rgba(40, 120, 255, 0.1), 0 16px 24px 2px rgba(0, 0, 0, 0.05);
  /* background-image: linear-gradient(to bottom right, #FDF3F5, #B5D1E2); */
  font-size: small;
  border-radius: 15px;
  overflow: hidden;
  transition: opacity .4s;
}
.popUp h2 {
  display: flex;
  width: 500px;
  align-items: center;
  margin-left: 60px;
  margin-top: 35px;
  font-size: 25px;
  line-height: 38px;
  font-weight: normal;
  font-family: "Microsoft Yahei", Helvetica, sans-serif, "等线";
}
.popUp h2 .close {
  margin-left: auto;
  padding: 9px;
  cursor: pointer;
  height: 38px;
  width: 38px;
}
.popUp h2 .close:hover path {
  fill: rgb(92, 161, 255);
}
.popUp .content {
  margin-left: 60px;
  margin-top: 15px;
  height: 370px;
  width: 480px;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* note */
#note .new {
  cursor: pointer;
  padding: 9px;
  width: 38px;
  height: 38px;
}
#note .content {
  display: flex;
  flex-direction: column;
}
#note .noteBox {
  flex: 1;
  display: flex;
  flex-direction: row;
}
#note .noteBox .noteList {
  position: relative;
  transition: transform .3s;
  overflow-x: hidden;
  height: 320px;
  overflow-y: auto;
}
#note .noteBox .noteList::-webkit-scrollbar {
	width: 0;
}
#note .noteBox .noteList .noteTitle {
  /* 多出的显示... */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  position: relative;
  /* border-bottom: 1px solid #e6e6e6; */
  width: 110px;
  padding-right: 15px;
  height: 40px;
  box-sizing: border-box;
  line-height: 40px;
  display: block;
  list-style: none;
  font-size: 14px;
  color: #303133;
  cursor: pointer;
}

#note .noteBox .noteList .noteTitle:before {
  content: "";
  position: absolute;
  background-color: #e6e6e6;
  height: 1px;
  width: 95px;
  left: 0;
  bottom: 0;
}
#note .noteBox .noteList .noteTitle:after {
  content: "";
  position: absolute;
  background-color: #e4e7ed;
  height: 40px;
  width: 2px;
  left: auto;
  right: 0;
  top: 0;
}
#note .noteBox .noteList .selected {
  color: rgb(92, 161, 255);
}
#note .noteBox .noteList .selected:before  {
  background-color:  rgb(92, 161, 255);
}
#note .noteBox .noteList .note:hover {
  color: rgb(92, 161, 255);
}
#note .noteBox .noteList .activeBar {
  left: auto;
  right: 0;
  top: 0;
  bottom: auto;
  width: 2px;
  height: 40px;
  
  position: absolute;
  background-color: rgb(92, 161, 255);
  transition: transform .3s cubic-bezier(.645,.045,.355,1);
  z-index: 101;
}
#note .noteBox textarea {
  height: 320px;
  margin-left: 15px;
  background-color: rgb(235, 235, 235);
  flex: 1;
  color: black;
  font-family: "Microsoft Yahei Light", "Microsoft Yahei", Helvetica, sans-serif, 等线;
  font-size: 16px;
  resize: none;
  padding: 10px 10px 10px 20px;
  border-style: none;
  outline: none;
  border-radius: 10px;
  transition: all 0.25s ease 0s;
}
#note .noteOperations {
  display: flex;
  margin-top: 5px;
  justify-content: flex-end;
  align-items: center;
}
#note .noteOperations .time {
  font-size: small;
  margin-right: 5px;
}
#note .noteOperations .icon {
  cursor: pointer;
  width: 30px;
  height: 30px;
  padding: 5px;
}
#note .noteOperations .star {
  width: 32px;
  height: 32px;
  /* margin: 0 3px 0 5px; */
}

/* setting */
#setting .content h3 {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: normal;
  font-family: "Microsoft Yahei", Helvetica, sans-serif, "等线";
}
.radio {
  /* margin: 10px 0; */
  color: #606266;
  font-weight: 500;
  line-height: 1;
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  outline: none;
  font-size: 15px;
}
.radio .radio-inner {
  border: 1px solid #dcdfe6;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  background-color: #fff;
  position: relative;
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
}
.radio div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
}
.checked .radio-inner {
  border-color: rgb(92, 161, 255);
  background: rgb(92, 161, 255);
}
.radio .radio-inner:after {
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: #fff;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%) scale(0);
  transition: transform .15s ease-in;
}
.checked .radio-inner:after {
  transform: translate(-50%,-50%) scale(1);
}
.radio .radio-label {
  padding-left: 8px;
}
.checked .radio-label {
  color: rgb(92, 161, 255);
}

#setting .content h4 {
  position: relative;
  color: rgba(0,0,0,0.5);
  margin-top: 5px;
}
#setting .content .bgPreviewContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#setting .bgPreviewContainer .bgPreviewBox {
  position: relative;
  display: inline-block;
  margin-top: 10px;
  margin-right: 8px;
  left: 0;
  width: 145px;
  height: 93px;
  border-radius: 6px;
  overflow: hidden;
}
#setting .bgPreviewContainer .bgPreviewBox .bgPreview {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  width: 100%;
  height: 100%;

  transition: all 0.25s;
  background-position: center;
  background-size: cover;
  box-shadow: 0 3px 5px 2px rgba(110, 121, 177, 0.1);
}
#bgPreview1 {
  background-image: url(https://cdn.jsdelivr.net/gh/MobiusBeta/assets/images/BG_A_Default_1.jpg);
}
#bgPreview2 {
  background-image: url(https://cdn.jsdelivr.net/gh/MobiusBeta/assets/images/BG_A_Default_2.jpg);
}
#bgPreview3 {
  background-image: url(https://cdn.jsdelivr.net/gh/MobiusBeta/assets/images/BG_A_Default_3.jpg);
}
#bgPreview4 {
  background-image: url(https://cdn.jsdelivr.net/gh/MobiusBeta/assets/images/BG_A_Default_4.jpg);
}
#bgPreview5 {
  background-image: url(https://cdn.jsdelivr.net/gh/MobiusBeta/assets/images/BG_A_Default_5.jpg);
}
#bgPreview6 {
  background-image: url(https://cdn.jsdelivr.net/gh/MobiusBeta/assets/images/BG_A_Default_6.jpg);
}
#bgPreviewLive1 {
  background-image: url(https://cdn.jsdelivr.net/gh/MobiusBeta/assets/images/BG_A_Live_1.jpg);
}
#bgPreviewLive2 {
  background-image: url(https://cdn.jsdelivr.net/gh/MobiusBeta/assets/images/BG_A_Live_2.jpg);
}
.√ {
  z-index: 100;
  width: 36px;
  height: 36px;
}
.√ path{
  fill: transparent;
}
.bgPreviewMask {
  position: absolute;
  z-index: 50;
  width: 100%;
  height: 100%;
  transition: all 0.25s;
}
.bgPreviewBox .selected {
  transform: scale(1) !important;
}
.bgPreviewBox .selected .bgPreviewMask {
  background-color: rgba(0,0,0,0.5) !important;
}
.bgPreviewBox .selected .√ path {
  fill: white;
}
.bgPreview:hover {
  transform: scale(1.1);
}
.bgPreview:hover .bgPreviewMask {
  background-color: rgba(0,0,0,0.2);
}

#setting .content .inputBox {
  width: 250px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}
#setting .content .inputBox span{
  font-family:"Helvetica Neue", Helvetica, "PingFang SC";
  color: rgba(0, 0, 0, 0.7);
  font-size: 15px;
  margin-right: 10px;
  line-height: 35px;
  height: 35px;
  white-space: nowrap;
}

#setting .content .inputBox input {
  font-family:"Helvetica Neue", Helvetica, "PingFang SC";
  -webkit-appearance: none;
  background-color: #fff;
  background-image: none;
  border-radius: 5px;
  border: 1px solid #dcdfe6;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  height: 35px;
  line-height: 35px;
  outline: none;
  padding: 0 15px;
  transition: border-color .2s cubic-bezier(.645,.045,.355,1);
  flex: 1;
}
#setting .content .inputBox input::placeholder{
  color:#c0c4cc
}
#setting .content .inputBox input:focus {
  outline: none;
  border-color:rgb(92, 161, 255);
}


::-webkit-scrollbar {
  width: 5px;
}
#note ::-webkit-scrollbar-track {
  margin: 5px 0;
}
.popUp ::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,.1);
  border-radius: 3px;
}

/* 和风天气 */
#he-plugin-simple {
  z-index: 100;
}
.wv-top-backdrop {
  display: none !important;
}
.wv-lt-location {
  cursor: inherit !important;
}
.wv-lt-location a {
  display: none !important;
}
/* .wv-lt-refresh a {
  display: none !important;
} */


@media screen and (max-width: 600px) {
  .pinnedNotesBox {
    top: 3%;
    left: 3%;
    width: 45%;
    height: 135px;
    overflow: auto;
  }
  .pinnedNotesBox .pinnedNotes {
    padding: 8px 16px;
    width: 100%;
  }
  .menu {
    top: 3%;
    right: 2%;
  }
  .menu .icon {
    width: 22px;
    margin-right: 10px;
  }
  .timeBox .time {
    font-size: 28px;
  }
  .input:hover{
    width: 80%;
  }
  .input:focus{
    width: 80%;
  }
  .suggestionContainer {
    width: 80%;
  }
  .popUp {
    width: 90%;
    left: 5%;
  }
  .popUp h2 {
    width: 85%;
    margin-left: 10%;
  }
  .popUp .content {
    width: 80%;
    margin-left: 10%;
  }
  #setting .bgPreviewContainer .bgPreviewBox {
    width: calc(50% - 10px);
    height: 23vw;
  }
  #setting .content .inputBox {
    width: 80%;
  }
  #setting .content .inputBox input {
    width: 100%;
  }
  #note .noteBox .noteList .noteTitle {
    max-width: 25vw;
  }
  #note .noteBox .noteList .noteTitle:before {
    width: 88%;
  }
  #note .noteBox textarea {
    margin-left: 10px;
    font-size: 14px;
  }
}

@media screen and (min-width: 1500px) and (min-height: 1000px) {
  .timeBox .time {
    font-size: 38px;
  }
  .input {
    font-size: 14px;
    width: 280px;
  }
  .input:hover {
    width: 550px;
  }
  .input:focus {
    width: 550px;
  }
  .suggestionContainer {
    width: 550px;
  }

}
@media screen and (min-height: 800px) {
  main {
    margin-top: 10vh;
  }
}

@media screen and (min-height: 1080px) {
  main {
    margin-top: 15vh;
  }
}
